<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <!--need to create the submission boxes-->
    <!--login method should be triggered upon submission-->
    <form method="POST" action="/loginmethod">
        <p>Enter info below: <br> <br>
            <input type="text" name="name" placeholder="Name"> <br> <br>
            <input type="text" name="email" placeholder="Email"> <br> <br>
            <input type="text" name="password" placeholder="Password"> <br> <br>
            <input type="submit" value="Add">
        </p>
    </form>
    
</body>
</html>